* {
  Box-sizing: border-box;
}

Html, body{
  Font-family: "roboto";
  Font-size: 10px;
  Font-weight: lighter;
  height: 100%;
  margin: 0;
  width: 100%;
}

.menu {
  text-align:right;
  display: inline;
  font-size: 1.8rem;
  right:0;
  top: 0;
  padding-top:5rem;
  position:absolute;
}

.menu-wrap {
    padding-bottom: 2rem;
}

li {
  display:inline;
}

.menu a{
  clear:right;
  padding-right: 3rem;
  text-decoration: none;
  display: inline-block;
}

a {
  color:gray;
}

a:hover {
  color:#F1D2CC;
}

.toggler {
  visibility: hidden;
}

img {
  max-width:100%;
}

.container {
  margin: 0 auto;
  min-height: 100;
  width:100%;
}

.vnlogo {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin:1rem 0 0 5rem;
}

/* About me button */
.more {
  background-color: black;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: "Lora";
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 12px 24px;
  border:none;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

input[type=text], input[type=email], textarea{
  border: 1px solid #CCC;
  padding: 16px;
  width: 100%;
}

/* Project.html */
.summary, .discovery, .conclusion {
  margin: 0 auto;
  padding-bottom: 5rem;
  width: 48%;
}

/* Contact.html */
.column1{
  margin-top: 5rem;
  width: 100%;
}

.contactme {
  text-align:center;
}

.column2{
  margin: 0 auto;
  text-align:center;
  width: 50%;
}

.submitbutton {
 background-color: #F1D2CC;
 font-family: "Lora";
 font-size: 1.8rem;
 height: 100%;
 padding: 12px 24px;
 width:25%;
 margin-bottom: 5rem;
 border: none;
}

button {
  background-color: #F1D2CC;
  border-radius: 3px;
  font-family: "Lora";
  font-size: 1.8rem;
  opacity: 0.8;
  padding: 12px 24px;
  border: none;
}

button:hover, .submitbutton:hover, .designzen > button:hover, .busybus > button:hover {
  background-color: #FF9676;
  cursor:pointer;
}

/* my role, deliverables, and tools */
#myrole {
  float:left;
  padding-left: 12rem;
  text-align: center;
  width: 33.33%;
}

#deliverables {
  float:left;
  text-align: center;
  width: 33.33%;
}

#tools {
  float:left;
  padding-bottom: 35rem;
  padding-right: 12rem;
  text-align: center;
  width: 33.33%;
}

/* "My role", "Deliverables", "Tools" */
.heading {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 2rem;
}

/* picture captions */
.caption1 {
  font-size: 2rem;
  line-height: 120%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.caption2 {
  font-size: 2rem;
  line-height: 120%;
  margin: 20px auto;
  width: 40rem;
}

.caption3 {
  font-size: 2rem;
  text-align: center;
}

.caption {
  font-size: 2rem;
  line-height: 150%;
}

/* Introduction: name, title, slogan, button */
.intro {
  background-color:rgba(237, 171, 98, 0.6);
  padding-bottom: 5rem;
  padding-top: 8rem;
  text-align: center;
}

.name {
  display: inline;
  font-family: "august script bold free";
  line-height: 110%;
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: "August script bold free";
  src: url(august.ttf) format('truetype');
}

/* Highlight */
h1 span {
  background-color:rgba(236, 162, 120, 0.8);
  bottom: 4.5rem;
  height:10px;
  left: 5rem;
  position: absolute;
  width:24rem;
  z-index:-1;
}

.mytitle {
  font-family: "lora";
  font-size: 2rem;
  margin: 0 auto;
  position:relative;
  text-align:center;
  width: 50%;
}

.slogan {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 auto;
  min-width: 40%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.designzen{
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  position: relative;
  width: 100%;
}

.busybus {
  background-color: rgba(221, 221, 221, 0.3);
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  position: relative;
  width: 100%;
}

.designzen > p, .busybus > p{
  font-size: 1.8rem;
  line-height: 180%;
  padding-bottom: 2rem;
  width: 40%;
}

.designzen > img{
  bottom: 15%;
  left: 50%;
  position: absolute;
}

.busybus > img {
  bottom: 8%;
  left: 57%;
  position: absolute;
}

/* Title of section */
.title {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 8rem;
  line-height: 100%;
}

/* First title (different to change spacing) */
#firsttitle {
  font-family: "Playfair display";
  font-size: 3.6rem;
}

/* Title of the page */
.toptitle {
  font-family: "Playfair display";
  font-size: 7rem;
  font-weight: lighter;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

/* biography.html */
.biographypage {
  margin: auto;
  width: 60%;
}

.bioname {
  display: inline-block;
  font-family: "august script bold free";
  line-height: 110%;
  padding-bottom: 10rem;
  text-align: left;
}

.biotop {
display:flex;
}

.biopic {
  min-width: 50%;
}

.biointro {
    display: inline;
    font-family: "Playfair display";
    font-size: 7rem;
    text-align: left;
}

.picofme {
  display: inline-block;
  height: 450px;
  margin-left: 10rem;
  width: 285px;
}

.biogreeting {
  font-size: 8rem;
  text-align: left;
  width: 100%;
}

/* block quote */
.block {
  font-size: 4.5rem;
  line-height: 167%;
}

.block2 {
  padding: 4rem 0 4rem 0;
  font-size: 3.6rem;
  line-height: 150%;
}

.imagestakenbyme {
  padding: 0;
  text-align: center;
  width: 100%;
}

/* text */
h1{
  font-family: "playfair display";
  font-size: 10rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 75%;
}

.iam {
  display: inline;
}

h2 {
  font-family: "Lora";
  font-size: 4.8rem;
  padding: 1rem 0 1rem 0;
}

h3 {
  background-color: #CDC6BB;
  font-family: "Playfair display";
  font-size: 6rem;
  font-weight: lighter;
  padding: 3rem;
  text-align: center;
}

h4 {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: lighter;
  text-align: left;
}

h5 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 200%;
  text-align: left;
  width: 60%;
}

h6 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  font-size: 2.4rem;
  line-height: 200%;
  padding-bottom: 2rem;
  text-align: left;
}

.circlecaption {
  font-size: 1.5rem;
  text-align:center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
}

th {
  top:0;
  position:sticky;
}

tbody{
  display:block;
  overflow-y:scroll;
}

tbody{
  overflow:auto;
  height:400px;
  width:100%;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

td{
  padding: 1rem;
  text-align:left;
}

span {
  font-size: 3rem;
  font-weight:bold;
}

/* description of personas */
.persona {
  font-size: 2rem;
  line-height: normal;
  text-align: center;
}

.person1 {
  float:left;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width:50%;
}

.person2 {
  float:right;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width:50%;
}

li {
  font-size: 2rem;
  line-height: normal;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
  text-indent: -1em;
}

ol {
  font-size: 2rem;
  line-height: 200%;
  padding-bottom: 5rem;
  text-align: left;
}

.tasks {
  padding-bottom: 0;
}

.list {
  font-size: 2rem;
  line-height: 150%;
  text-align: left;
  width: 100%;
  display: list-item;
}

/* images */
.summary img {
  border: 1px solid #B0B0B0;
  display: block;
  height: 40rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
}

.usersurvey{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float:right;
  margin-bottom: 20rem;
}

.designzenprototype {
   width: 400px;
   height: 250px;
}

.circleBase {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0;
  display:inline-block;
}

.colorcode {
  width: 50%;
  float:left;
}

.circle1 {
  background-color: #4971CA;
}
.circle2 {
  background-color: #4F9A40;
}
.circle3 {
  background-color: #CD5337;
}
.circle4 {
  background-color: #CE5C81;
}
.circle5{
  background-color: #4C9FC6;
}

.persona1, .persona2 {
  height:100%;
    width: 100%;
}

.userpersona {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.pinterestlogo, .dropboxlogo {
  display: block;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.userflow, .colors {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sketch{
  display: block;
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.sketch:hover, .lowfimockup:hover{
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.lowfimockup {
  border: 1px solid #B0B0B0;
  display: block;
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.logosketch {
  display: block;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.dzlogo {
  display: block;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.test1, .test2, .test3 {
  display: block;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2{
  border: 1px solid #B0B0B0;
  display: block;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.v1, .v2 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  width:100%;
}

.prototype, .viewbutton{
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.mypic1, .mypic2, .mypic3, .mypic4 {
  height: 400px;
  margin: 0 auto;
  padding:0;
  width: 300px;
}

#before{
  clear:left;
  float: left;
  width: 50%;
}

#after{
  float: right;
  width: 50%;
}

.calltoaction {
  font-size: 4rem;
}

/* footer */
footer {
  background-color: rgba(222, 210, 194);
  padding: 1rem;
  text-align: center;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1rem;
}


footer > a {
  font-size: 50px;
  text-decoration: none;
}

#myBtn {
        position: fixed;
        bottom: 10px;
        right: 10%;
        max-width: 30px;
        width: 100%;
        padding: .5px;
        border-radius: 4px;
    }

.links {
  background-color: rgba(222, 210, 194);
  font-family: "Lora";
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

.email {
  height: 30px;
  width: 45px;
}

.linkedin, .github{
  height: 35px;
  width: 40px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    overflow-x: hidden;
    text-align:center;
    width: 100%;
  }

  .vnlogo {
    margin: 0 auto;
  }

  .menu-wrap {
    padding-bottom: 3rem;
    position: relative;
    z-index: 3;
  }

  .menu-wrap .toggler {
    cursor: pointer;
    height: 50px;
    margin-top:14px;
    opacity:0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 3;
    visibility:visible;
  }

  .hamburger {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 1rem;
    padding-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    z-index: 2;
  }

  /* Hamburger line */
  .hamburger > div {
    align-items:center;
    background: #CDC6BB;
    display: flex;
    height: 5px;
    justify-content:center;
    position: relative;
    transition: all 0.4s ease;
    width: 100%;
  }
  /* Top and bottom lines */
  .hamburger > div:before,
  .hamburger > div:after {
    content: '';
    background: inherit;
    height: 5px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 2;
  }

  /* Moves line down */
  .menu-wrap, .hamburger > div:after {
    top: 10px;
  }

  /* Toggler animate */
  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turn lines into X */
  .toggler:checked + .hamburger > div:before,
  .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Rotate on hover when checked */
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show menu */
  .toggler:checked ~ .menu {
    visibility: visible;
  }

  .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.8s;
  }

  .toggler:checked ~ .menu > div > div  {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu {
    align-items: center;
    display:flex;
    height: 100%;
    justify-content:center;
    overflow:hidden;
    position:fixed;
    visibility: hidden;
    width: 100%;
  }

  .menu a {
    display:block;
    text-align:center;
    padding:0;
  }

.menu a:hover {
  font-size:4rem;
  transition: all 0.4s ease;
}

  /* Overlay */
  .menu >div {
    align-items:center;
    background: rgba(0,0,0,0.98);
    border-radius: 50%;
    display: flex;
    flex: none;
    height: 200vw;
    justify-content:center;
    transform: scale(0);
    transition: all 0.4s ease;
    width: 200vw;
  }

  .menu >div >div {
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    text-align:center;
    transition: opacity 0.4s ease;
  }

  .menu >div >div > ul >li {
    color: gray;
    font-size: 2rem;
    list-style: none;
    padding: 2rem;
    text-align: center;
    width: auto;
    display: block;
  }

  .menu >div >div > ul >li > a {
    color: #CDC6BB;
    text-decoration: none;
    transition: all 0.4s ease;
    display: block;
  }

  .summary, .discovery, .conclusion, .biographypage {
    width: 75%;
  }

/* Biography.html */
  .picofme {
    height: 100%;
    margin: 0;
    padding-bottom: 5rem;
    width: 100%;
  }

  .biotop {
    flex-flow: column;
  }

  .biogreeting {
    font-size: 7rem;
  }

  .bioname {
    padding-bottom: 5rem;
    width:100%;
  }

  .block {
    font-size: 3.6rem;
    line-height: 150%;
  }
  .block2 {
    font-size: 3rem;
    line-height: 120%;
  }
/* Home page */
  h1 span {
    bottom: 4rem;
    width:22rem;
  }

  .mytitle {
    font-size: 1.5rem;
    left: 2rem;
  }

  .slogan {
    display: inline-block;
    font-size: 2rem;
    max-width: 80%;
  }

  .busybus, .designzen {
    padding: 4rem 0 4rem 0;
  }

  .busybus > p, .designzen > p {
    display: inline-block;
    text-align: left;
    width: 75%;
  }

  .designzen > img {
    height: 200px;
    left:0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;
    right: 0;
    width: 300px;
  }

  .busybus > img {
    left: 0;
    position: relative;
    right: 0;
  }

  .busybus > button, .designzen > button{
    padding: 9px 18px;
    width: 50%;
  }

/* Images */
 .summary img {
   border: 1px solid #B0B0B0;
   height: 100%;
   width: 100%;
 }

 .usersurvey{
   height: 100%;
   width: 100%;
}

.person1 {
  display:block;
  width: 100%;
  }

.person2 {
  display:block;
  width: 100%;
}

 .pinterestlogo, .dropboxlogo {
   height: 11.25rem;
   width: 11.25rem;
 }

 .userflow {
   height: 43rem;
   width: 100%;
 }

 .sketch{
   height: 21rem;
   width: 30rem;
 }

 .lowfimockup {
   height: 21rem;
   width: 30rem;
 }

 .logosketch {
    height: 100%;
    width: 100%;
 }

 .dzlogo {
   height: 22.5rem;
   width: 22.5rem;
 }

 .s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2{
   height: 100%;
   width: 100%;
 }

  .mypic1, .mypic2{
    height: 50%;
    float:left;
    padding:0;
    width: 50%;
  }
  .mypic3, .mypic4 {
    float:right;
    height: 50%;
    padding:0;
    width: 50%;
  }

  .imagestakenbyme {
    padding: 0;
    width: 100%;
  }

  /* text */
  h1 {
    display: inline-block;
    font-size: 9rem;
  }

  h2 {
   font-size: 3.6rem;
  }

  h3 {
   font-size: 5.25rem;
  }


 h5 {
   font-size: 2rem;
 }

  h6, li, ol, .persona{
   font-size: 1.5rem;
 }

 .block {
   font-size: 3rem;
 }

/* Captions */
.caption2 {
  width: auto;
}

.tasks {
  padding-bottom:0;
}

 p, .listsoftasks, li{
   font-size: 1.8rem;
 }

.caption, .caption1, .caption2, .caption3{
 font-size: 1.5rem;
}


/* Project.html */
.logistics{
   display: block;
 }

  #myrole, #deliverables {
    padding: 0;
  }

  #myrole {
    display:block;
    padding: 0;
    width: 100%;
  }

  #deliverables {
    display:block;
    padding: 0;
    width: 100%;
  }

  #tools {
  display:block;
  margin-bottom: 10rem;
  padding: 0;
  width: 100%;
  }

  #before{
    width: 100%;
  }

  #after{
    width: 100%;
  }

/* Contact */
  input[type=text], input[type=email], textarea{
    margin: 0 auto;
    text-align: center;
  }

  .column2{
    width: 80%;
  }

  .col1andcol2{
    width: 80%;
    margin: 0 auto;
  }

  .yourinfo {
    text-align:center;
  }

  textarea {
    font-family: "roboto";
  }

  .submitbutton {
     width: 100%;
     -webkit-appearance: none;
     border: none;
   }

footer {
    line-height: 2px;
    padding: 3rem;
  }
.links {
  padding-bottom: 2rem;
}
}

@media only screen and (max-width: 565px) {
  .mypic1, .mypic2, .mypic3, .mypic4 {
    height: 400px;
    width: 300px;
    float:none;
  }
  .iam {
  display: inline-block;
}
  }
