* {
  Box-sizing: border-box;
}

Html, body{
  Font-family: "roboto";
  Font-size: 10px;
  Font-weight: lighter;
  height: 100%;
  margin: 0;
  width: 100%;
}

img {
  max-width:100%;
}

.container {
  width:100%;
  margin: 0 auto;
}

.summary, .discovery, .conclusion {
  margin: 0 auto;
  padding-bottom: 5rem;
  width: 48%;
}

/* div for menu options */
.menu {
  font-family: "Lora";
  font-size: 1.8rem;
  margin: 0 30px 0 0;
}

.vnlogo {
  width: 125px;
  height: 125px;
  float:left;
  margin-left: 2rem;
}

/* links for each menu item */
.menu a {
  clear: right;
  color: gray;
  line-height: 70px;
  margin: 0 10px;
  text-decoration: none;
}

/* burger menu and full menu */
.topnav {
  text-align: right;
  padding-top: 5rem;
}

/* links */
a {
  color: black;
}

/* burger menu lines */
label {
  color: #CDC6BB;
  display: none;
  float: right;
  font-size: 50px;
  line-height: 70px;
  margin: 0 40px 0 0;
  width: 50px;
  padding-top: 2rem;
}

/* hides burger menu */
#toggle {
  display: none;
}

 /* mouse over*/
a:hover {
  color:#F1D2CC;
}

/* selected */
a:active {
  text-decoration: underline;
}

.more:hover {
  background-color: #fff;
  color: #000;
}

/* About me button */
.more {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: "Lora";
  font-size: 1.8rem;
  padding: 12px 24px;
  margin: 0 auto;
}

input[type=text], input[type=email], textarea{
  width: 25%;
  padding: 12px;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-left: 10px;
}

.column1{
  margin-top: 2rem;
  width: 100%;
  padding-left: 10rem;
}

.column2{
  margin-top: 2rem;
  width: 100%;
padding-right: 10rem;

}

.contactme {
  /* text-align:center; */
  width: 100%;
}

/* keeps text next to boxes */
.yourinfo {
  text-align: right;
}

.sendbutton {
 background-color: #F1D2CC;
 border-radius: 3px;
 font-family: "Lora";
 font-size: 1.8rem;
 padding: 12px 24px;
 float:right;
 margin-top: 2rem;
 width:25%;
 height: 100%;
}

button {
  background-color: #F1D2CC;
  border-radius: 3px;
  font-family: "Lora";
  font-size: 1.8rem;
  padding: 12px 24px;
}

button:hover, .sendbutton:hover {
  background-color: #DABEB8;
  cursor:pointer;
}

/* my role, deliverables, and tools */
#myrole {
float:left;
padding-left: 12rem;
text-align: center;
width: 33.33%;
}

#deliverables {
float:left;
text-align: center;
width: 33.33%;
}

#tools {
  float:left;
  padding-bottom: 35rem;
  padding-right: 12rem;
  text-align: center;
  width: 33.33%;
}

/* "My role", "Deliverables", "Tools" */
.heading {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 2rem;
}

/* Introduction: name, title, slogan, button */
.intro {
  background-color:rgba(237, 171, 98, 0.6);
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

/* picture captions */
.caption1 {
  font-size: 2rem;
  line-height: 120%;
  margin: 0 auto;
  width: 100%;
}

.caption2 {
  font-size: 2rem;
  line-height: 120%;
  margin: 20px auto;
  width: 40rem;
}

.caption {
  font-size: 2rem;
  line-height: 120%;
}

.name {
  font-family: "august script bold free";
  line-height: 110%;
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: "August script bold free";
  src: url(august.ttf) format('truetype');
}

/* Highlight */
h1 span {
  background-color:rgba(236, 162, 120, 0.8);
  bottom: 2rem;
  height:10px;
  left: 6rem;
  position: absolute;
  width:28rem;
  z-index:-1;
}

/* My title */
.mytitle {
  font-family: "lora";
  font-size: 2rem;
  left: 8rem;
  margin: 0 auto;
  position:relative;
  text-align:left;
  width: 50%;
}

.slogan {
  font-size: 3rem;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 4rem;
  text-align: center;
  max-width: 40%;
}

.designzen{
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  position: relative;
  width: 100%;
}

.busybus {
  background-color: rgba(221, 221, 221, 0.3);
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  position: relative;
  width: 100%;
}

.designzen > p, .busybus > p{
  font-size: 1.8rem;
  line-height: 180%;
  padding-bottom: 2rem;
  width: 40%;
}

.designzen > img{
  bottom: 15%;
  left: 50%;
  position: absolute;
}

.busybus > img {
  bottom: 8%;
  left: 57%;
  position: absolute;
}

.designzen > button, .busybus > button {
  background-color: #F1D2CC;
  border-radius: 3px;
  font-family: "lora";
  font-size: 1.8rem;
  padding: 12px 24px;
}

.designzen > button:hover, .busybus > button:hover {
  background-color: #DABEB8;
}

/* Title of section */
.title {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 8rem;
}

/* First title (different to change spacing) */
#firsttitle {
  font-family: "Playfair display";
  font-size: 3.6rem;
}

/* Title of the page */
.toptitle {
  font-family: "Playfair display";
  font-size: 7rem;
  font-weight: lighter;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.biographypage {
  margin: auto;
  width: 60%;
}

.biointro {
  font-family: "Playfair display";
  font-size: 7rem;
  text-align: left;
  width: 100%;
}

.bioname {
  font-family: "august script bold free";
  line-height: 110%;
  padding-bottom: 10rem;
  text-align: left;
  display: inline-block;
}

/* block quote */
.block {
  font-size: 4.8rem;
  line-height: 167%;
}

.imagestakenbyme {
  padding: 0;
  text-align: center;
  width: 100%;
}

/* text */
h1{
  font-family: "playfair display";
  font-size: 12rem;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  text-align: left;
  width: 50%;
}

h2 {
  font-family: "Lora";
  font-size: 4.8rem;
  padding: 1rem 0 1rem 0;
}

h3 {
  background-color: #CDC6BB;
  font-family: "Playfair display";
  font-size: 7rem;
  font-weight: lighter;
  text-align: center;
  padding: 3rem;
}

h4 {
  font-family: "Playfair display";
  font-size: 3.6rem;
  font-weight: lighter;
  text-align: left;
}

h5 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  display: inline-block;
  line-height: 200%;
  text-align: left;
  width: 100%;
}

h6 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  font-size: 2.4rem;
  line-height: 200%;
  text-align: left;
  padding-bottom: 2rem;
}

span {
  font-weight:bold;
}

/* description of personas */
.persona {
  font-size: 2rem;
  text-align: left;
}

.person1, .person2 {
  position:relative;
  width: 100%
}

li {
  font-size: 2rem;
  text-align: left;
  width: 60%;
}

ol {
  font-size: 2rem;
  line-height: 200%;
  text-align: left;
}

.listoftasks {
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

/* images */
.summary img {
  border: 1px solid #B0B0B0;
  display: block;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  margin-bottom: 2rem;
}

.usersurvey{
  display: block;
  height: 22rem;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}

.persona1, .persona2 {
  float:left;
  height: 25rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  width: 35rem;
}

.pinterestlogo, .dropboxlogo {
  display: block;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.userstoriesscreenshot, .userflow, .colors {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sketch{
  display: block;
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.lowfimockup {
  border: 1px solid #B0B0B0;
  display: block;
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.logosketch {
  display: block;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.dzlogo {
  display: block;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.test1, .test2, .test3 {
  display: block;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2{
  border: 1px solid #B0B0B0;
  display: block;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.v1, .v2 {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width:100%;
  padding: 1rem;
  text-align: center;
}

.prototype {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

#before{
  clear:left;
  float: left;
  width: 50%;
}

#after{
  float: right;
  width: 50%;
}

.picofme {
  float:right;
  height: 600px;
  width: 400px;
}

.mypic1, .mypic2, .mypic3, .mypic4 {
  height: 400px;
  width: 300px;
}

/* footer */
footer {
  background-color: rgba(222, 210, 194);
  padding: 2rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
  font-size: 50px;
}

.links {
  background-color: rgba(222, 210, 194);
  font-family: "Lora";
  font-weight: lighter;
  font-size: 2rem;
  margin: 0 auto;
}

.email {
  height: 30px;
  width: 50px;
}

.linkedin, .github{
  height: 45px;
  width: 50px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    overflow-x: hidden;
    text-align:center;
    width: 100%;
  }

  .summary, .discovery, .conclusion, .biographypage {
    width: 75%;
  }

  /* for the burger menu */
  label {
    cursor: pointer;
    display: block;
  }

  .menu{
    display:none;
    text-align: center;
    width: 100%;
  }

  .menu a{
    background-color: rgba(222, 210, 194);
    border-bottom: 1px solid black;
    display: block;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  a:hover {
    color:#000;
  }

  #toggle:checked + .menu {
    display:block;
  }

  h1 span {
    bottom: 14px;
    height:7.5px;
    left: 45px;
    width:21rem;
  }

  .mytitle {
    font-size: 1.5rem;
  }

  .slogan {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    max-width: 80%;
  }

  .busybus, .designzen {
    padding: 4rem 0 4rem 0;
  }

  .busybus > p, .designzen > p {
    display: inline-block;
    text-align: center;
    width: 75%;
  }

  .designzen > img {
    height: 200px;
    left:0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    position: relative;
    right: 0;
    width: 300px;
  }

  .busybus > img {
    left: 0;
    position: relative;
    right: 0;
  }

  .busybus > button, .designzen > button{
    padding: 9px 18px;
    width: 50%;
  }

/* Images */
 .summary img {
   border: 1px solid #B0B0B0;
   height: 30rem;
   width: 33.75rem;
 }

 .usersurvey{
   height: 100%;
   width: 100%;
}

 .persona1, .persona2 {
   height: 18.75rem;
   width: 26.25rem;
 }

 .pinterestlogo, .dropboxlogo {
   height: 11.25rem;
   width: 11.25rem;
 }

 .userstoriesscreenshot {
   height: 100%;
   width: 100%;
 }

 .userflow {
   height: 43rem;
   width: 100%;
 }

 .sketch{
   height: 21rem;
   width: 30rem;
 }

 .lowfimockup {
   height: 21rem;
   width: 30rem;
 }

 .colors{
   height: 22.5rem;
   width: 37.5rem;
 }

 .logosketch {
   height: 15rem;
  width: 37.5rem;
 }

 .dzlogo {
   height: 22.5rem;
   width: 22.5rem;
 }

 .test1, .test2, .test3 {
   height: 30rem;
   width: 37.5rem;
 }

 .s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2{
   height: 30rem;
   width: 37.5rem;
 }

 .v1, .v2 {
   height: 18rem;
   width: 22.5rem;
 }

 .picofme {
   height: 100%;
   padding-bottom: 5rem;
   width: 100%;
  }

  .imagestakenbyme {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* text */
  h1 {
    display: inline-block;
    font-size: 9rem;
  }

  h2 {
   font-size: 3.6rem;
  }

  h3 {
   font-size: 5.25rem;
  }

 h5, h6, li, ol, .persona{
   font-size: 1.5rem;
 }

 p {
   font-size: 1.8rem;
 }

.caption{
 font-size: 1.5rem;
}

.logistics{
   display: block;
 }

  .bioname {
    width:100%;
    padding-bottom: 5rem;
  }

  .block {
    line-height: 150%;
    font-size: 3.6rem;
  }

  #myrole, #deliverables {
    font-size: 1.5rem;
    padding: 0;
  }

  #tools {
    padding: 0;
    font-size: 1.5rem;
    padding-bottom: 26rem;
  }

  #before{
    width: 100%;
  }

  #after{
    width: 100%;
  }

  input[type=text], input[type=email], textarea{
    padding-bottom: 0;
  }

  .sendbutton {
     margin-top: 2rem;
     width: 80%;
   }

footer {
    padding: 0 0 5rem 0;
    line-height: 2px;
  }
}
