* {
  Box-sizing: border-box;
}

Html, body {
  Font-family: "Avenir";
  Font-size: 10px;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

img {
  max-width:100%;
}

.container {
  margin: 0 auto;
  min-height: 100;
  overflow:hidden;
  width:100%;
}

.vnlogo {
  display: inline-block;
  height: 90px;
  margin:3rem 0 0 3rem;
  width: 100px;
}

.menu {
  display: inline;
  font-size: 1.8rem;
  padding-top:5rem;
  position:absolute;
  text-align:center;
  top: 0;
  right:0;
}

.menu-wrap {
  padding-bottom: 2rem;
}

.menu a {
  display: inline;
  font-size:2.5rem;
  text-decoration: none;
}

.menu li {
  font-weight: 400;
  padding-right: 3rem;
}

a {
  color:#474747;
  padding-left:1rem;
  padding-right: 1rem;
}

.menu a:hover {
  border-bottom: 5px solid #E13D10;
  height: 4rem;
  transform: translate(30px, 20px) rotate(90deg);
  transition: 0.4s ease;
}

.active {
  border-bottom: 2px solid #E13D10;
  color: #E13D10;
}

.toggler {
  visibility: hidden;
}

/* About me button */
.more {
  animation-name: moveToRight;
  animation-duration:2s;
  background-color: inherit;
  border:none;
  color: #C8856F;
  font-size: 1.8rem;
  margin: 0 auto;
  padding:0;
}

.more:hover {
    border:none;
    color: #C8856F;
    padding: 0;
    text-decoration: underline;
}

button {
  background-color:#E13D10;
  border:none;
  border-radius: 36px;
  color: white;
  font-family: "Cera pro", "Gill sans";
  font-size: 1.8rem;
  opacity: 0.8;
  padding: 12px 24px;
}

button:hover, .submitbutton:hover {
  background-color: white;
  border: 2px solid #E13D10;
  color: #E13D10;
  cursor:pointer;
  padding: 10px 24px;
}

.projectbutton {
  background-color: white;
  color: #474747;
}

.projectbutton:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.calltoaction {
  font-size: 4rem;
  text-decoration: none;
}

.calltoaction button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

/* Input boxes for contact page */
input[type=text], input[type=email], textarea{
  border: 1px solid #CCC;
  padding: 16px;
  width: 100%;
}

textarea, input {
  font-family: "Avenir";
}

/* Project.html */
.middle{
  margin: 0 auto;
  width: 50%;
}

.smallandmiddle{
  margin: 0 auto;
  width: 50%;
}

.conclusion {
 margin: 0 auto;
 width: 48%;
}

/* Contact.html */
.column1{
  margin-top: 5rem;
  width: 100%;
}

.contactme {
  text-align:center;
}

.column2{
  margin: 0 auto;
  text-align:center;
  width: 50%;
}

.submitbutton {
  background-color:#E13D10;
  border: none;
  border-radius: 36px;
  color: white;
  font-family: "Cera Pro", "Gill sans";
  font-size: 1.8rem;
  height: 100%;
  margin-bottom: 5rem;
  opacity: 0.8;
  padding: 12px 24px;
  width:25%;
}

/* my role, deliverables, and tools */
.logistics {
  display:flex;
  justify-content: center;
}
#myrole {
  text-align: center;
}

#timeline {
  text-align: center;
  width:50%;
}

#tools {
  text-align: center;
}

/* "My role", "Deliverables", "Tools" */
.heading {
  font-family: "Cera Pro";
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 2rem;
}

/* picture captions */
.caption1 {
  font-size: 2rem;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.caption2 {
  font-size: 2rem;
  line-height: 120%;
  margin: 20px auto;
  width: 40rem;
}

.caption3 {
  font-size: 2rem;
  text-align: center;
}

.caption {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 150%;
  padding-left:1rem;
  width: 100%;
}

.optiona {
  display:inline-block;
  width: 45%;
}

.optionb {
  display:inline-block;
  margin-bottom: 5rem;
  width: 45%;
}

.lastoptionb {
  display:inline-block;
  width: 45%;
}

.preftesta {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  padding-left:1rem;
}

.preftestb {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  padding-left:1rem;
}

.clickzoom {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.finalproduct {
  margin: 0 auto;
  text-align: center;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

/* Introduction: name, title, motto, button */
.intro {
  padding-bottom:8rem;
  padding-left: 15%;
  padding-top: 7rem;
  text-align: left;
}

.intro h1 {
  animation-name: moveToLeft;
  animation-duration:2s;
  font-size: 10rem;
  margin: 0;
  text-align: left;
}

.name {
  animation-name: moveToLeft;
  animation-duration:2s;
  display: inline;
  font-family: "August script bold free";
  font-size: 10rem;
  font-weight: 100;
  line-height: 110%;
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: "August script bold free";
  src: url(august.ttf) format('truetype');
}

@font-face {
  font-family: "Cera Pro";
  src: url(cera.otf) format('opentype');
}

@font-face {
  font-family: "Avenir Next";
  src: url(avenirnext.ttc) format('truetype');
}

@font-face {
  font-family: "Avenir";
  src: url(Avenir.ttc) format('truetype');
}

/* Highlight */
h1 span {
  animation-name: moveToLeft;
  animation-duration:2s;
  background-color:#FCC19F;
  bottom: 3rem;
  height:10px;
  left: 8rem;
  position: absolute;
  width:20rem;
  z-index:-1;
}

.mytitle {
  animation-name: moveToLeft;
  animation-duration:2s;
  bottom: 0;
  font-size: 2rem;
  left: 20rem;
  margin: 0 auto;
  position:relative;
}

.motto {
  animation-name: moveToRight;
  animation-duration:2s;
  font-size: 3rem;
  margin: 0 auto;
  min-width: 40%;
  text-align: left;
}

.scrollDown {
  bottom: 4%;
  height: 60px;
  left:80%;
  position:absolute;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
  width: 60px;
}

.scrollDown span {
  animation: animate 2s linear infinite;
  border-bottom: 4px solid #C76548;
  border-right: 4px solid #C76548;
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.scrollDown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.2s;
}
.scrollDown span:nth-child(2) {
  transform: translate(0,0);
  animation-delay: 0s;
}
.scrollDown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity:0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity:1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity:0;
  }
}

.role {
  color:white;
  font-size:2rem;
  line-height: 180%;
  padding-bottom: 3rem;
  width: 90%;
}

.project2 {
  align-items: center;
  background-image: linear-gradient(to right, #E13D10, #EA5D36);
  display: flex;
  margin: 0 auto;
  padding: 5rem 5rem 5rem 10%;
  width: 90%;
}

.project h2, .project2 h2 {
  color: white;
}

.project .description {
  color: white;
  line-height: 180%;
  padding-bottom: 3rem;
  width: 80%;
}

.project2 .description {
  color: white;
  line-height: 180%;
  padding-bottom: 3rem;
  width: 90%;
}

.project2 img {
  display:block;
  height: 15%;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  width: 15%;
}

.project {
  align-items: center;
  background-image: linear-gradient(to right, #FFA36D, #FCC19F);
  display: flex;
  margin: 0 auto;
  padding: 5rem 5rem 5rem 10%;
  width: 90%;
}

.project img {
  display: block;
  height: 50%;
  margin: 0 auto;
  margin-right:5rem;
  min-width: 50%;
  text-align: center;
  width: 50%;
}

.project button, .project2 button {
  min-width: 50%;
}

.test1 {
  width: 100%;
}

.test2 {
  margin-bottom: 8rem;
  width: 50%;
}

.calendly-inline-widget {
  height: 630px;
  min-width: 320px;
}

/* Title of section */
.title {
  font-family: "Cera Pro";
  font-size: 10rem;
  font-weight: bold;
  line-height: 100%;
  padding-top: 20rem;
  color: #E16645;
}

/* First title (different to change spacing) */
#firsttitle {
  color: #E16645;
  font-family: "Cera Pro";
  font-size: 10rem;
  line-height: normal;
  padding:0;
}

/* Title of the page */
.toptitle {
  font-size: 7rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
}

/* biography.html */
.biographypage {
  overflow-x:hidden;
  padding-top:5rem;
  margin: auto;
  width: 60%;
}

.picofme {
  animation-name: moveToLeft;
  animation-duration:1s;
  display: inline-block;
  height: 50%;
  margin-left: 10rem;
  max-height:60%;
  max-width: 60%;
  width:50%;
}

.biogreeting {
  animation-name: moveToRight;
  animation-duration:1s;
  font-size: 7rem;
  padding: 2rem 2rem 4rem 0;
  text-align: left;
  width: 100%;
}

/* block quote */
.block {
  font-size: 4.5rem;
  line-height: 167%;
}

.block2 {
  font-size: 3.6rem;
  line-height: 150%;
  padding: 4rem 0 4rem 0;
}

.boldedblock {
  font-size: 5rem;
  font-weight: 700;
  line-height: 150%;
}

.boldedblock2 {
  background-color:rgba(252,193,159,0.6);
  font-weight: 600;
  line-height: 150%;
}

/* text */
h1 {
  font-family: "Avenir Next";
  font-size: 8rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 75%;
}

.iam {
  display: inline;
}

h2 {
  font-family:"Avenir Next";
  font-size: 6rem;
  padding: 1rem 0 1rem 0;
}

h3 {
  font-size: 6rem;
  line-height: 120%;
  padding: 15rem 3rem 3rem 3rem;
  text-align: center;
  text-decoration: underline #E16645;
}

h4 {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: left;
}

h5 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 200%;
  text-align: left;
  width: 60%;
}

h6 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  font-size: 2.4rem;
  line-height: 200%;
  padding-bottom: 2rem;
  text-align: left;
}

table {
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 100%;
}

th {
  position:sticky;
  top:0;
}

tbody {
  display:block;
  overflow-y:scroll;
}

tbody {
  height:400px;
  overflow:auto;
  width:100%;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

td {
  padding: 1rem;
  text-align:left;
}

span {
  font-size: 3rem;
  font-weight:600;
}

.person1 {
  float:left;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width:50%;
}

.person2 {
  float: right;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 50%;
}

.bold {
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
  padding: 0;
}

.ca {
  line-height: normal;
}

li {
  display: inline;
  font-size: 2rem;
  line-height: normal;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
  text-align: left;
  text-indent: -1em;
}

ol {
  font-size: 2rem;
  line-height: 200%;
  padding-bottom: 5rem;
  text-align: left;
}

.tasks {
  padding-bottom: 0;
}

.list {
  display: list-item;
  font-size: 2rem;
  line-height: 150%;
  text-align: left;
  width: 100%;
}

/* images */
.solutionproto {
  border: 1px solid #B0B0B0;
  display: block;
  height: 50rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 55rem;
}

.topproto {
  padding: 1rem 4rem 4rem 4rem;
}

.usersurvey {
  width: 50%;
}

.persona1, .persona2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
}

.userpersona {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top:4rem;
}

.ca1, .ca2 {
  display: block;
  height: 15rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.centered {
  display: block;
  height: 90%;
  margin: 0 auto;
  vertical-align: middle;
  width: 90%;
}

.midspacing {
  margin: 0 auto;
  padding: 3rem;
  width: 75%;
}

.largeandmiddle {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

#left, #right {
display: flex;
flex: initial;
flex-direction: column;
}

#right {
  padding-left: 3rem;
}

.sidebyside {
  display: flex;
  flex-direction: row;
}

.userflow, .colors {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.userflow {
  margin-bottom: 5rem;
}

.colors {
  margin-bottom: 4rem;
}

.sketch {
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.lowfimockup {
  border: 1px solid #B0B0B0;
  height: 28rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.logosketch {
  display: block;
  height: 20rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.dzlogo {
  display: block;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2 {
  border: 1px solid #B0B0B0;
  display: inline-block;
}

.v1, .v2 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.imagestakenbyme {
  padding: 0;
  text-align: center;
  width: 100%;
}

.prototype, .viewbutton{
  display: inherit;
  font-family: "Cera pro", "Gill sans";
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.mypic1, .mypic2, .mypic3, .mypic4 {
  height: 400px;
  margin: 0 auto;
  padding:0;
  width: 300px;
}

.maze {
  display: block;
  height: 50%;
  margin: 0 auto;
  width: 50%;
}

.rounded {
  border: 2px solid black;
  display: block;
  margin: 0 auto;
}

.centerimage {
  display: block;
  margin: 0 auto;
}

#before {
  clear:left;
  float: left;
  width: 50%;
}

#after {
  float: right;
  width: 50%;
}

/* User survey */
.circleBase {
  border-radius: 50%;
  display:inline-block;
  height: 25px;
  margin: 0;
  width: 25px;
}

.circlecaption {
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align:left;
}

.colorcode {
  display:inline-block;
}

.options {
  display: flex;
}

.optionscontainer {
  display: inline-block;
  width: 35%;
}

.circle1 {
  background-color: #4971CA;
}
.circle2 {
  background-color: #4F9A40;
}
.circle3 {
  background-color: #CD5337;
}
.circle4 {
  background-color: #CE5C81;
}
.circle5{
  background-color: #4C9FC6;
}

/* footer */
footer {
  padding: 1rem;
  text-align: center;
}

footer > a {
  font-size: 50px;
  text-decoration: none;
}

.copyright {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: center;
}

#myBtn {
  background-color: inherit;
  bottom: 30px;
  max-width: 50px;
  padding: .5px;
  position: fixed;
  right: 10%;
  width: 100%;
}

.backtotop:hover {
  border:none;
}

.links {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  text-decoration: none;
}

.email {
  height: 40px;
  width: 45px;
}

.linkedin {
  height: 40px;
  width: 40px;
}

.github {
  height: 38px;
  width: 38px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
  }

.menu {
    margin-top: 4rem;
    margin-right: 1rem;
  }

  .menu a {
    display: inline;
    font-size: 2rem;
    padding: 1rem;
  }

  .menu li {
    display: inline;
    line-height: 1rem;
    padding-right: 0;
    text-align: right;
  }

  .scrollDown {
    visibility: hidden;
  }

  .intro {
    padding: 8rem 1.5rem 8rem 1.5rem;
    text-align: center;
  }

  h1 span {
    bottom: 2rem;
    left: 5rem;
    width: 16rem;
  }

  .intro h1, .intro > .name {
    font-size: 7.5rem;
    text-align: center;
  }

  .project2 {
    display: block;
    flex: none;
    padding-left: 0;
    padding-right:0;
  }

  .test2 {
    margin-bottom: 0;
    width: 100%;
  }

  .description, .role {
    display: inline-block;
    text-align: center;
  }

  .role {
    font-size: 1.6rem;
  }

  .project2 img {
    display: inline-block;
    margin-top: 4rem;
    min-width: 40%;
 }

  .project img {
    display: block;
    margin-top: 4rem;
    min-width: 100%;
  }

  .vnlogo {
    display: block;
    left: 0;
    margin:0;
    margin-left: 2rem;
    top: 0;
  }

  .middle, .conclusion, .biographypage {
    width: 85%;
  }

/* Biography.html */
  .picofme {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  .biotop {
    flex-flow: column;
  }

  .biogreeting {
    font-size: 7rem;
  }

  .block {
    font-size: 3.6rem;
    line-height: 150%;
  }

  .block2 {
    font-size: 3rem;
    line-height: 120%;
  }

  .boldedblock {
    font-size: 4rem;
  }

  .boldedblock2 {
    font-size: 2.8rem;
  }

/* Home page */
  .mytitle {
    font-size: 1.5rem;
    left: 2rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50%;
  }

  .motto {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .project {
    display:block;
    margin: 0 auto;
    padding-left: 0;
    padding-right:0;
  }

/* Images */
.topproto {
  padding: 0 0 2rem 0;
}

 .solutionproto {
   display:block;
   border: 1px solid #B0B0B0;
   height: 100%;
   margin: 0 auto;
   width: 100%;
 }

 .usersurvey {
   display: inline-block;
   height: 100%;
   width: 100%;
}

 .ca1, .ca2 {
   height: 11.25rem;
   width: 11.25rem;
 }

 .smallandmiddle {
   padding-left: 6rem;
   padding-right: 6rem;
   width: 100%;
 }

 #right {
   margin-top: 4rem;
 }

 #left, #right {
   display: block;
   width: 100%;
 }

 .sidebyside {
   display: block;
 }

 .persona1, .persona2 {
   height: 100%;
   width: 100%;
 }

 .sketch, .lowfimockup {
   height: 100%;
   margin: 0 auto;
   width: 100%;
 }

.sidebyside #right {
   padding:0;
 }

 .logosketch {
    height: 100%;
    width: 100%;
 }

 .dzlogo {
   height: 22.5rem;
   width: 22.5rem;
 }

 .s1v1, .s1v2, .s2v1, .s2v2, .s3v1, .s3v2 {
   height: 100%;
   width: 100%;
 }

 .s1v1, .s2v1, .s3v1 {
   margin-bottom: 0;
 }

  .mypic1, .mypic2 {
    height: 50%;
    float: left;
    padding: 0;
    width: 50%;
  }
  .mypic3, .mypic4 {
    float: right;
    height: 50%;
    padding: 0;
    width: 50%;
  }

  .imagestakenbyme {
    padding: 0;
    width: 100%;
  }

  .optionscontainer {
    display: inline-block;
    width: 100%;
  }

  /* text */
  h1 {
    display: inline-block;
    font-size: 6rem;
    width: 100%;
  }

  h3 {
   font-size: 5.25rem;
   padding: 3rem;
  }

  #firsttitle {
    font-size:5rem;
  }

  .title {
    font-size:5rem;
    padding-top: 8rem;
  }

.calltoaction {
  font-size: 3rem;
}

 h5 {
   font-size: 2rem;
 }

  h6, li, ol {
   font-size: 1.5rem;
 }

 .description {
     font-size: 2.4rem;
 }

 p {
   font-size: 1.8rem;
 }

 .toptitle {
   padding-top: 5rem;
 }

/* Captions */
.caption2 {
  width: auto;
}

.optiona, .optionb, .lastoptionb {
  width: 100%;
}

.preftesta, .preftestb {
  text-align: center;
}

.bold {
  font-size: 3rem;
  line-height: normal;
  padding: 0;
  text-align: center;
}

.tasks {
  padding-bottom:0;
}

 li {
   font-size: 1.8rem;
 }

.caption, .caption1, .caption2, .caption3 {
 font-size: 1.5rem;
}

.caption {
  padding-left: 2rem;
}

.clickzoom  {
  font-size: 1.5rem;
}

.colorcode {
  margin:0 auto;
  display: inline-block;
}

/* Project.html */
  #before {
    width: 100%;
  }

  #after {
    width: 100%;
  }

  .centered {
    display: block;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
  }

/* Contact */
  input[type=text], input[type=email], textarea {
    margin: 0 auto;
    text-align: center;
  }

  .column2{
    width: 100%;
  }

  .col1andcol2{
    margin: 0 auto;
    width: 80%;
  }

  .yourinfo {
    text-align:center;
  }

  .submitbutton {
     -webkit-appearance: none;
     width: 100%;
   }

 .box {
    bottom: 0;
  }

.links {
  padding-bottom: 2rem;
}

#myBtn {
  bottom: 10px;
  max-width: 40px;
  right: 2%;
}

@media only screen and (max-width: 565px) {
  .mypic1, .mypic2, .mypic3, .mypic4 {
    height: 400px;
    width: 300px;
    float:none;
  }

  h1 span {
    bottom: 2rem;
    left: 5rem;
    width: 16rem;
  }

  h2 {
   font-size: 5rem;
  }

  .role {
    padding-bottom:2rem;
  }
}
