* {
Box-sizing: border-box;
}

Html {
Font-family: "roboto";
Font-size: 10px;
Font-weight: lighter;
}

.body {
  margin: 20px;
}

.mylinks {
  float: right;
}

.topnav {
  overflow: hidden;
  position: relative;
}

a {
  color: black;
}

li {
  font-size: 1.8rem;
  font-family: "lora";
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: inline-block;
  color:#000;
}

a:hover {
  color:#F1D2CC;
} /* mouse over*/

a:active {
  text-decoration: underline;
} /* selected */

li > a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.intro {
  background-color:rgba(237, 171, 98, 0.6);
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

h1{
  font-family: "playfair display";
  font-size: 12rem;
  padding-top: 40px;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

.name {
  font-family: "august script bold free";
  position: relative;
  z-index: 1;
}

h2 {
  font-family: Lora;
  font-size: 4.8rem;
  padding: 1rem 0 1rem 0;
}

.title {
  font-family: lora;
  font-size: 2rem;
  width: 50%;
  text-align:left;
  margin: 0 auto;
  position:relative;
  left: 8rem;
}

.slogan {
  font-size: 3rem;
  font-weight: lighter;
  padding-bottom: 2rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 4rem;
}

.more {
  background-color: #000000;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: "Lora";
  font-size: 1.8rem;
  padding: 12px 24px;
  margin: 0 auto;
}

h1 span {
  position: absolute;
  background-color:rgba(236, 162, 120, 0.8);
  width:28rem; height:10px; bottom:8px;
  left: 6rem;
  z-index:-1;
}


.DesignZen{
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  position: relative;
}

.DesignZen > p, .BusyBus > p{
  font-size: 1.8rem;
  line-height: 180%;
  padding-bottom: 2rem;
  width: 40%;
}

.DesignZen > button, .BusyBus > button {
  background-color: #F1D2CC;
  border-radius: 3px;
  font-size: 1.8rem;
  font-family: "lora";
  padding: 12px 24px;
}

.DesignZen > img{
  position: absolute;
  left: 50%;
  bottom: 15%
}

 .BusyBus {
  background-color: rgba(221, 221, 221, 0.3);
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
  position: relative;
}

.BusyBus > img {
 position: absolute;
 left: 57%;
 bottom: 15%;
}

footer {
  background-color: rgba(222, 210, 194, 0.8);
  font-family: "Lora";
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align:center;
  }

  h1 {
    font-size: 9rem;
  }

  h1 span {
    position: absolute;
    background-color:rgba(236, 162, 120, 0.8);
    width:21rem; height:7.5px; bottom:6px;
    left: 4.5rem;
    z-index:-1;
  }

.BusyBus, .DesignZen {
  padding: 4rem 0 4rem 0;
}

.BusyBus > p, .DesignZen > p{
  text-align: center;
}
  .BusyBus > img {
    margin: auto;
    display: inline-block;
    padding: 0;
  }

  .DesignZen > img {
      left: auto;
  }
}
