* {
Box-sizing: border-box;
}

Html {
Font-family: roboto;
Font-size: 10px;
Font-weight: lighter;
}

.container {
  width: 1440px;
}

.menu {
  background-color: #F1D2CC;
  display: inline-block;
  font-family: lora;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 15px 32px;
  text-align: center;
}

.intro {
padding-left: 40rem;
}

h1 {
  font-family: playfair display;
  font-size: 12rem;
  padding-top: 40px;
  text-align: left;
}

.name {
  font-family: "august script bold free";
  position: relative;
  z-index: 1;
}

.title {
  font-family: lora;
  font-size: 2.4rem;
  padding-left: 7.5rem;
}

.slogan {
  font-family: roboto;
  font-size: 3.5rem;
  font-weight: lighter;
  padding-left: 40rem;
  padding-right: 40rem;
  padding-bottom: 2rem;
}

.fullMenu {
  float: right;
}

h2 {
  font-family: Lora;
  font-size: 4.8rem;
  padding: 1rem 0 1rem 0;
}

.More {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  font-family: Lora;
  font-size: 1.8rem;
  padding: 15px 32px;
  text-align: center;
}

.hero {
  background: rgba(237, 171, 98, 0.6);
}

p {
  font-size: 1.8rem;
  padding: 1rem 0 1rem 40rem;
  line-height: 180%;
}

.menu {
  background-color: #F1D2CC;
  display: inline-block;
  font-size: 1.8rem;
  font-family: lora;
  padding: 15px 32px;
}

.who {
  text-align:center;
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.DesignZen {
  padding: 10rem 20rem 10rem 20rem;
  position: relative;
}

.DesignZen > h2 {
  position: relative;
}
.DesignZen > p {
  position: relative;
  right: 40rem;
}

.DesignZen > img {
  position:absolute;
  margin-left: 60rem;
}

.DesignZen > button {
  background-color: #F1D2CC;
  display: inline-block;
  font-size: 1.8rem;
  font-family: lora;
  padding: 15px 32px;
  position: relative;
}

.BusyBus {
  background-color: rgba(221, 221, 221, 0.3);
  padding: 10rem 20rem 10rem 20rem;
  position:relative;
}

.BusyBus > h2 {
  position: relative;
  left: 40rem;
}
.BusyBus > p {
  position: relative;
}

.BusyBus > img {
  position: absolute;
  bottom: 5rem;
}

.BusyBus > button {
  background-color: #F1D2CC;
  display: inline-block;
  font-size: 1.8rem;
  font-family: lora;
  padding: 15px 32px;
  position: relative;
  margin-left: 40rem;
}

footer {
  background-color: rgba(222, 210, 194, 0.8);
  font-family: Lora;
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
}


/* @media screen and (minimum-width: px {}); */
